name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 1"

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Run Renovate
        uses: renovatebot/github-action@v42.0.2
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GH_REPO_TOKEN }}
