name: Renovate

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 12 * * 1"

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Run Renovate
        uses: renovatebot/github-action@v46.1.1
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: '["^bash -c .npm install && npm test -- -u.$"]'
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GH_REPO_TOKEN }}
